body {
    font-family: Arial, sans-serif;
    background-image: url('crg.jpg');
 background-size: cover; 
 background-position: center; 
 background-repeat: no-repeat; 
 background-attachment: fixed;
    text-align: center;
    padding: 20px;
}


.team-selection, .overs-selection {
    margin-bottom: 20px;
}

.scoreboard {
    margin-top: 20px;
   
    background-color: whitesmoke;
    color: black;
}
.opponent-scoreboard{
    margin-top: 20px;
   
   background-color: whitesmoke;
   color: black;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: skyblue;
}
